<form class='borrar-index' method="post" action="{{ path('eliminar_usuarios', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger-index">Borrar</button>
</form>
