<form class='borrar-index' method="post" action="{{ path('app_noticias_delete', {'id': noticia.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ noticia.id) }}">
    <button class="btn btn-danger-index">Borrar</button>
</form>
