{% extends 'base.html.twig' %}

{% block body %}

<div class="pagina-index">
    <nav class="navBar">

<div class="logo">
    <a
        href="/">
        <span class="logo-span">
            <img class="logo-img" src="{{ asset('images/ADG-logo-transparente.png') }}" alt="ADG Logo"/>
        </span>
    </a>
</div>

<div class="logout">
    <ul>
        <li>
            {% if app.user %}
                        <a href="{{ path('usuarios') }}">
                            <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                Panel de administración
                            </button>
                        </a>
            {% endif %}

            <a href="{{ path('app_revistas_index') }}">
                <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Revistas
                </button>
            </a>
            <a href="/{{ app.user ? 'logout' : 'login' }}">
                <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                {{ app.user ? 'Salir' : 'login' }}
                <i class="fa-solid fa-door-open exit-icon icon-left"></i>
                </button>
            </a>
        </li>  
    </ul>
</div>
</nav>

<div class="blue-section">

    <p>Has ingresado como: {{ app.user.email }}</p>

<div class="headers-index">
    <h1 class="titulo">Noticias</h1>
    <div class="nueva-noticia">
        <div class="btn-ag" >
            <a class="boton-admin focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" href="{{ path('app_noticias_new') }}"><i class="fa-solid fa-plus icon-right"></i>Nueva Noticia</a>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="card-container">
{% for noticia in noticias %}
    <div class="card">
        <div class="card-body">
            <span class="action-btns">
                <a href="{{ path('app_noticias_edit', {'id': noticia.id}) }}">
                
                <button type="button" class="focus:outline-none text-white bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-blue-900">
                Editar
                </button>
                </a>

                <span class="index-delete">{{ include('noticias/_delete_form_index.html.twig') }}</span>
            </span>

          <div class="full-content">
            <div class="content-image">
                <img class="foto" src="/uploads/fotos/{{noticia.foto}} " alt="foto">
            </div>
            <div class="content">
                <p>Actualizada el {{ noticia.updatedAt ? noticia.updatedAt|date('d-m-Y : (H:i)') : noticia.createdAt|date('d-m-Y (H:i)') }}</p>
                <a class="show" href="{{ path('app_noticias_show', {'id': noticia.id}) }}"><h5 class="card-title">{{ noticia.titulo }}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{ noticia.categoria }}</h6>
                <p class="card-text">{{ noticia.autor }}</p>
            </div>
            </div>
        </div>

      </div>
{% endfor %}
</div>
</div>
</div>
{% endblock %} 