{% extends 'base.html.twig' %}

{% block title %}New Revistas{% endblock %}

{% block body %}
    <h1>Create new Revistas</h1>

    {{ include('revistas/_form.html.twig') }}

    <a href="{{ path('app_revistas_index') }}">back to list</a>
{% endblock %}
