{% extends 'base.html.twig' %}

{% block title %}New Revistas{% endblock %}

{% block body %}
<div class='heading-bar'>
    <div class='go-back'>
        <a href="{{ path('app_revistas_index') }}"><i class="fa-solid fa-chevron-left"></i></a>
            <div class="logo-form">
            <a href="/">
                <span class="logo-span">
                    <img class="logo-img" src="{{ asset('images/ADG-logo-transparente.png') }}" alt="ADG Logo"/>
                </span>
            </a>
        </div>
    </div>

    <div class='acciones-btn'>
        <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">{{ button_label|default('Publicar') }}</button>
    </div>
    
</div>

    <h1 class="titulo">Nueva revista</h1>

    {{ include('revistas/_form.html.twig') }}
{% endblock %}
