.borrar-index{
    color: blue($color: #000000);
}

.action-btns {
    display: flex;
    align-items: center;
}

.btn-danger-index {
    color: #000;
    padding: 10px 25px;
    background-color: #dc3545;
    border-radius: 10px;
}

.titulo{
    text-align: center;
}

.plus-icono{
    margin-right: 10px;
}

.nueva-noticia {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    width: 77%;
}

.pagina-index{
    margin-top: 20px;
}

.card-container {
    padding: 4%;
    display: flex;
    height: 500px;
    overflow: scroll;
    margin: 30px 150px;
    -webkit-box-shadow: 0px 0px 12px 12px rgb(0 0 0 / 26%);
    -moz-box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 12px 12px rgb(0 0 0 / 26%);
    display: flex;
    flex-direction: column;
    width: 55%;
}

.card{
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.card-body p {
    margin-left: 0;
}

.main-container {
    display: flex;
    justify-content: center;
}